* {
    box-sizing: border-box;
  }
  
  *:before, *:after {
    box-sizing: inherit;
  }

  html{
    background: khaki;
  }
  
  body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-size: 100%;
    line-height: 1.5;
  }

  .example {
    width: 100%;
    max-width: 1200px;
    height: 700px;
    margin: 0 auto;
  }
  
  header, footer {
    width: 100%;
    padding: 1em;
    text-align: center;
    font-size: 2rem;
    background: url(img/bg1.jpg);
    
  }

  
  .main {
    display: flex;
    height: 100%;
    font-size: 2rem;
  }
  
  nav, aside {
    padding: 1em;
    flex-basis: 25%;
  }
  
  nav {
    background-color: lightblue;
    
  }
  
  aside {
    background-color: lightgreen;
  }
  
  .content {
    flex-basis: 50%;
    background-color: orange;
    padding: 1em;
  }
  
  footer {
    align-self: flex-end;
  }

  footer ul{
    text-decoration: none;
    display: flex;
    
  }

  footer ul li{
    display: flex;
  }

  .main nav ul{
    list-style: none;
    text-transform: uppercase;
  }

  a{
    
    text-decoration: none;
    font-size: 25px;
  }

  nav a:hover{
    color: darkgreen;
  }

